allow hal_camera_default sysfs_thermal:file write;

dontaudit hal_camera_default kernel:system module_request;

dontaudit hal_camera_default vendor_display_prop:file r_file_perms;