#Ignore if device loading for private IOCTL failed
dontaudit netmgrd kernel:system { module_request };

dontaudit netmgrd kernel:system module_request;
dontaudit netmgrd self:system module_request;
dontaudit netmgrd self:capability sys_module;
